.future-forecast {
    background: rgba(24, 24, 27, 0.8);
    padding: 25px;
    position: fixed;
    bottom: 0;
    display: flex;
    color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.future-forecast .today {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 15px;
    padding-right: 40px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}

.future-forecast .today .day {
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}

.future-forecast .today .temp {
    font-size: 18px;
    padding-top: 15px;
}

.future-forecast .weather-forecast {
    display: flex;
}

.weather-forecast .weather-forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}

.weather-forecast .weather-forecast-item .day {
    padding: 5px 15px;
    background: #3C3C44;
    border-radius: 50px;
    text-align: center;
}

.weather-forecast .weather-forecast-item .temp {
    font-weight: 100;
    font-size: 12px;
}

@media only screen and (max-width: 730px) {
    .container {
        padding: 20px;
    }

    .future-forecast {
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
    }

    .future-forecast .today .temp {
        font-size: 16px;
    }

    .date-container .time {
        font-size: 50px;
    }

    .date-container #am-pm {
        font-size: 20px;
    }

    .date-container .date {
        font-size: 20px;
    }

    .place-container {
        text-align: end;
        margin-top: 15px;
    }

    .place-container .time-zone {
        font-size: 20px;
    }

    .current-info .others {
        padding: 12px;
    }

    .current-info .others .weather-item {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1400px) {
    .future-forecast {
        justify-content: start;
        align-items: none;
        overflow-x: scroll;
    }
}